*{
    font-family: Arial, Helvetica, sans-serif;
    
}






.row{
    border: solid red 2px;
    
}
.col{
    border: solid green 5px;
 
}

.container{
    border: solid black;
    margin: 50px;
}
.card{
    
    background-color: #DCDCDC ;
 
}
.card-body{
    background-color: #DCDCDC ;
    border: solid black 1px;
}
