*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #C0C0C0;
}

.row{
    
    border: solid black 2px ;
}

.col{
    background-color:#DCDCDC ;

    border-radius: 5px;
}
.container{
    
    
    margin-top: 100px;
    font-style: normal;
    margin-bottom: 45px;
    
}

.col h2{
    color: black;

    
}